<style>
div.img {
    position: relative;
    margin: 5px;
    border: 1px solid #ccc;
    float: center;
    width: 100%;
    max-height: auto;
/*    max-width: 50%;*/
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.2s;
    animation-name: zoom;
    animation-duration: 0.2s;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;*/
}

/*For displaying the full image*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 700px;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.3s;
    animation-name: zoom;
    animation-duration: 0.3s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}
/*The close button*/
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
}
/*100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.caption {
        width:100%;
        bottom: .0rem;
        position: absolute;
        background:#000;
        background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: -moz-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: -o-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    }

    .caption h4 {
        color: #fff;
        -webkit-font-smoothing: antialiased;
    }

    .thumbnail {
        border: 0 none;
        box-shadow: none;
        margin:0;
        padding:0;
    }

</style>

<div class="scrollable">
    <div class="scrollable-content section">

        <div ng-repeat="img in imgHolder">
          <div class ="col-sm-12 thumbnail text-center">
            <img width="500" height="500" class="img" src="{{ img.image }}" ng-click="modal()"></img><br/>
            <div class="caption">
              <h4>
                <button class="btn btn-default btn-sm" ng-click="likeStatus(img); setTotal(img);"><i class="fa fa-thumbs-up"></i></button>
                <button class="btn btn-default btn-sm" ng-click="dislikeStatus(img); setTotal(img);"><i class="fa fa-thumbs-down"></i></button>
                {{ img.showLiked }} liked this ({{ img.ratio }}% of people have liked this)</h4>
            </div>
          </div>
        </div>

    </div>

</div>

<div ui-content-for="modals">
  <div id="modal" class="modal" ui-if='modal2' ui-shared-state='modal2'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

            <h4 class="modal-title">Computer Science 145: Lecture 2</h4>
        </div>
        <div class="modal-body">
            <p>Note Preview</p>
                <div class="img">
                <img ng-src="{{ listObject }}"> </img>
                </div>
        </div>
        <div class="modal-footer">
          <button ui-turn-off="modal2" class="btn btn-default" ng-click="modalclose()">Save</button>
          <button ui-turn-off="modal2" class="btn btn-default" ng-click="modalclose()">Close</button>
<!--           <button ui-turn-off="modal2" class="btn btn-primary">Save changes</button> -->

        </div>
      </div>
    </div>
  </div>
</div>

<script>


</script>
