<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <base href="/BucketApp/" />
    <title>Bucket App</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />

    <link rel="stylesheet" href="/dist/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="/dist/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="/dist/css/mobile-angular-ui-desktop.min.css" />

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-touch.min.js"></script>
    <script src="/dist/js/mobile-angular-ui.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
    <script src="https://cdn.firebase.com/js/simple-login/1.6.2/firebase-simple-login.js"></script>
    <script src="BucketApp.js"></script>
</head>

<body ng-app="AngularUIBucketApp" ng-controller="MainController">
  <!--Sidebar-->
   <div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="Sidebar">
    <h1 class="app-name">Ed-Kit</h1>
    <div class="scrollable">
      <div class="scrollable-content">
        <div class="list-group" toggle="off" bubble target="Sidebar">
          <a class="list-group-item" href="#/">Home<i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/classNotes">My Notes<i class="fa fa-chevron-right pull-right"></i></a>
        </div>

      </div>
    </div>
  </div>
  <!--Sidebar end-->
 <div class="app">

    <div class="navbar navbar-app navbar-absolute-top">

        <div class="navbar-brand navbar-brand-center" yield-to="title">
            <span>Ed-kit</span>
        </div>

        <div class="btn-group pull-left">
        <div ng-click="toggle('Sidebar')" class="btn btn-navbar sidebar-toggle">
          <i class="fa fa-bars"></i> Menu
        </div>
      </div>

        <div class="btn-group pull-right" yield-to="navbarAction">
    <div class="btn btn-navbar">
      <a ng-click="imgpageFunc()" ng-hide="loggedIn" class="btn-navbar btn-icon-only"><i class="fa fa-plus fa-navbar"></i></a>
    </div>
</div>

    </div>

    <div class="navbar navbar-app navbar-absolute-bottom">

        <div class="btn-group justified">
            <a href="#" class="btn btn-navbar btn-icon-only"><i class="fa fa-home fa-navbar"></i></a>
            <a href="#" class="btn btn-navbar btn-icon-only"><i class="fa fa-list fa-navbar"></i></a>
        </div>

    </div>

    <div class="app-body">
        <ng-view class="app-content"></ng-view>
    </div>

</div>
  <script>
      function picChange(evt){
        var fileInput = evt.target.files;
        if(fileInput.length>0){
            var windowURL = window.URL || window.webkitURL;
            var picURL = windowURL.createObjectURL(fileInput[0]);
            var photoCanvas = document.getElementById("capturedPhoto");
            var ctx = photoCanvas.getContext("2d");
            var photo = new Image();
            photo.onload = function(){
            //draw photo into canvas when ready
              ctx.drawImage(photo, 0, 0, photo.width, photo.height,0, 0, photoCanvas.width, photoCanvas.height);
            };
              photo.src = picURL;
        }

      }
  </script>
</body>

</html>
